.panel{
    @include section();
    z-index: 1;
    margin-top: 3.5rem;
    &-content{
        justify-content: space-between;
        position: relative;
        
    }
    &-submit{
        width: 14rem;
        margin-right: 2rem;
    }
    &-submit:nth-child(2){
        margin-right: 0;
    }
    &-wrapper{
        flex-direction: row;
    }
    &-buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

    }
    

}
