

.card {
    width: 95%;
    height: 3.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1.25rem;
    border: 1px solid $goldBack;
    transition: all 0.5s;
    @include t-main();
    margin: 0 auto;
    
}

.card:hover{
    border: 1px solid #9C23FC;
    width: 100%;
}