.cards{
    width: 100%;
}

.card {
    width: 95%;
    
    height: 3.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 1.25rem;
    border: 1px solid $goldBack;
    transition: all 0.5s;
    @include t-card();
    margin: 0 auto;
    
    margin-bottom: 3px;
    &-id{
        width: 5.1rem;
        margin-left: 1.6rem;
        font-size: 2rem;
        margin-top: 0.5rem;
        font-family: $interFont;
    }
    &-prob{
        width: 1rem;
        font-size: 1.5rem;
        margin-left: 4.2rem;
        margin-top: 0.7rem;
        
    }
    &-dep{
        width: 17rem;
        margin-left: 3.9rem;
        font-size: 1.2rem;
        margin-top: 0.7rem;
        

    }
    &-img{
        margin-left: 2.4rem;
    }
}

.card:hover{
    border: 1px solid #9C23FC;
    width: 100%;
    cursor: pointer;
   
    .card-id{
        
    }
}