.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 0.9rem;
    
    &-text{
        margin-right:   0.4rem;
        margin-top: 6px;
    }

    &-button{
        display: flex;
        flex-direction: row;
        
        @include buttonFilter();

    }
    
}

.vector{
    display: flex;
    flex-direction: column;

    &-most{
        margin-bottom: 5px;
    }
    &-least{
        transform: rotate(180deg);
    }
}