
.notification{
    width: 20rem;
    height: 10rem;
    border-radius: 1rem;
    position: absolute;
    background-color: $blackText;
    top: 100px;
    left: 1300px;
    padding: 0.2rem 1rem;
    animation: viewNotification 0.3s linear;
    box-shadow: 10px 5px 5px $goldBack;
    &-text{
        @include t-main();
        color: $goldBack;
        font-family: $boldFont;
        text-align: center;
        margin-top: 1.4rem;
    }
    &-close{
        color: $goldBack;
        font-size: 1.6rem;
        float: right;
    }
    &-close:hover{
        color: $whiteBack;
        cursor: pointer;
    }
}

@keyframes viewNotification {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}