
.window{
    width: 100%;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 11.6rem);
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-right: 1.43rem;
    padding: 1.75rem 1.44rem 1.25rem 1.44rem;
    align-items: center;
    
}
