
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 2.3rem);
    height: 7.3rem;
    border-radius: 10px;
    background-color: #fff;
    padding: 1.5rem;

    
}