@import './utils';
@import './components';
@import './layout';



.oninput-button{
    @include oninput-button();
}
.section-list{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 2rem;

}
.hr-line{
    width: 30rem;
    margin-left: 0;
}