@import './utils';
@import './components';
@import './layout';

body{
    width: 100%;
    height: 100%;
}
// .table-design{
//     @include table-design();
// }
// .t-title{
//     @include t-title();
// }
section{
    width: 100%;
    margin: auto;
    
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}