<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isotropic Tensor</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" th:href="@{css/index.css}">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/atom.ico" th:href="@{images/atom.ico}">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/atom.ico" th:href="@{images/atom.ico}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script async  src="/static/js/chart.js" th:src="@{js/chart.js}"></script>
    <script async src="/static/js/csv.js" th:src="@{js/csv.js}"></script>
    <script async src="/static/js/get-request.js" th:src="@{js/get-request.js}"></script>
    <script async  src="/static/js/table.js" th:src="@{js/table.js}"></script>
    <script async src="/static/js/search.js" th:src="@{js/search.js}"></script>
    <script defer src="/static/js/modal-person.js" th:src="@{js/modal-person.js}"></script>
    <!-- <script async type="module" src="/static/js/index.js" th:src="@{js/index.js}"></script> -->
    <script async type="module" src="/static/js/panel.js" th:src="@{js/panel.js}"></script>
</head>
<body>
    <header class="header">
            <div class="header-wrapper">
                <div class="header-content">
                    <div class="logo header-content__logo">
                        <img class="logo__img" src="../static/images/atom.svg" th:src="@{images/atom.svg}" alt="atom">
                        <div>
                            <h2 class="logo__title">Isotropic<span class="logo__title-accent">Tensor</span></h2>
                        </div>
                        <!-- <h2 class="logo__title">Isotropic<span class="logo__title-accent">Tensor</span></h2> -->
                    </div>
                    <div class="header-content__hackathon">
                        <h2 class="logo__title">Service Prediction Layoffs</h2>
                    </div>
                    <div class="header-content__task">
                        <h1 class="logo__title">Hackathon</h1>
                    </div>
                </div>
                <hr>
            </div>
            <div class="header-img">
                <img src="../static/images/kolmar.jpg" th:src="@{images/kolmar.jpg}" style="width: 25rem;" alt="kolmar">
            </div>
    </header>
    <main>
        <div class="section-list">
            <section class="panel">
                <div class="panel-wrapper">
                    <div class="panel-content">
                        <div class="panel-buttons">
                            <button class="input-data__submit  panel-submit active" id="main-panel">main panel</button>
                            <button class="input-data__submit panel-submit" id="admin-panel">admin panel</button>
                        </div>
                    </div>
                    <hr class="hr-line">
                </div>
            </section>
            <section class="download">
                <div class="download-wrapper">
                    <div class="download-content">
                        <div class="input-data">
                            <label class="input-data__block" id="label-input">
                                <input class="input-data__search" type="file" name="fileCsv" accept=".csv" id="csv-file-input" >
                                <span class="input-data__value" id="csv-value">Search file</span>
                            </label>
                            <button class="input-data__submit" id="process-csv">Submit</button>
                            <button class="input-data__submit hidden" id="process-fit">Fit</button>
                            <button class="input-data__submit hidden" id="process-save">Save</button>
                        </div>
                        <div class="table-list">
                            <form>
                                <label for="tables"></label>
                                <select name="tables" id="table_select">
                                    <option value="0">table_name</option>
                                    <option value="1">table_name</option>
                                    <option value="2">table_name</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <section class="dashboard">
                <div class="dashboard-wrapper">
                    <div class="dashboard-content">
                        <div class="dashboard-table" >
                            <table class="table" id="table-main">
                                <thead class="table__head">
                                    <tr class="table__head-container">
                                        <th class="table__head-id">Id</th>
                                        <th class="table__head-prob">Probability</th>
                                        <th class="table__head-group">Group</th>
                                    </tr>
                                </thead>
                                <tbody class="table__body" id="table-body-main">
                                </tbody>
                            </table>
                            <table class="table hidden" id="table-admin">
                                <thead class="table__head">
                                    <tr class="table__head-container">
                                        <th class="table__head-admin"></th>
                                        <th class="table__head-admin">precision</th>
                                        <th class="table__head-admin">recall</th>
                                        <th class="table__head-admin">f1-score</th>
                                        <th class="table__head-admin">support</th>
                                    </tr>
                                </thead>
                                <tbody class="table__body " id="table-body-admin">
                                </tbody>
                            </table>
                        </div>
                        <div class="dashboard-list">
                            <div class=""></div>
                        </div>
                        <div class="dashboard-diagram" id="diagram-main">
                            <div class="diagram">
                                <canvas id="my-chart"></canvas>
                            </div>
                        </div>
                        <div class="dashboard-text">
                            <div class="dashboard-text-main">
                                <h2>Главная страница:</h2>
                                <p>Нужна для получения прогноза вероятности увольнения сотрудника</p>
                                <p>1. Search file – для загрузки csv файла</p>
                                <p>2. Submit – для получения прогноза вероятности увольнения по загруженному файлу</p>
                                <p>3. При нажатии на уникальное ID в таблице появится информация по выбранному сотруднику</p>
                            </div>
                            <div class="dashboard-text-admin">
                                <h2>Админ панель:</h2>
                                <p>Нужна для доработки модели машинного обучения</p>
                                <p>1. Search file – для загрузки csv файла</p>
                                <p>2. Fit – для обучения модели на загруженном файле</p>
                                <p>3. После обучения есть возможность оценить качество модели и сохранить ее для дальнейшего использования</p>
                                <p>4. save - сохранить обученную модель</p>
                                <p>5. update model - обновить используемую модель на новую</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="modal-person" id="modal-id">
                    <div class="modal-person__content">
                        <div class="modal-person__close">
                            <p class="modal-person__back">&#60; back</p>
                            <p class="modal-person__title">Person info</p>
                            <span class="modal-person__cross">&times;</span>
                        </div>
                        <div class="modal-person__info">
                            <div class="modal-person__chart">
                                <div class="diagram">
                                    <canvas id="modal-chart"></canvas>
                                </div>
                            </div>
                            <div class="modal-person__text">
                                <div class="modal-person__text-item"><p>Id:&nbsp;</p><p class="modal-person__id" id="person-id">id</p></div>
                                <div class="modal-person__text-item"><p>Variable:&nbsp;</p><p class="modal-person__variable" id="person-variable">variable</p></div>
                                <div class="modal-person__text-item"><p>Group:&nbsp;</p><p class="modal-person__group"  id="person-group" >group</p></div>
                                <div class="modal-person__text-item"><p style="width: 18rem;">На что следует обратить внимание:&nbsp;</p><p class="modal-person__feature" id="person-feature">feauture</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </main>
    <footer>

    </footer>
</body>
</html>
