.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10rem;
    // @media ($tablet) {
    //     width: 2rem;
    // }
    &__title{
        @include t-title();
        
    }
    &__img{
        width: 2rem;
    }

}