

@mixin heading1($color: $goldText, $font: $secondaryFont, $size: 1.75rem, $weight: 500){
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font;
    text-align: center;
}

@mixin heading2(){

}

@mixin t-main($color: $blackText, $font: $mainFont, $size: 1.25rem, $weight: 400){
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font;
}

@mixin t-card($size: 1.75rem, $weight: 400){
    @include t-main($blackText, $mainFont, $size, $weight)
}

@mixin t-sidebar($color: $whiteText, $font: $interFont, $size: 1rem, $weight: 700){
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $font;
}

@mixin flex($flex-der: row, $jus-cont: space-between){
    display: flex;
    flex-direction: $flex-der;
    justify-content: $jus-cont;

}

@mixin goldBack(){
    background-color: $goldBack;
}

@mixin buttonFilter(){
    height: 49px;
    background-color: $goldBack;
    border-radius: 1rem;
    border: 1px $goldBack;
    padding: 9px 14px;
    @include t-sidebar();
    
}