// color background

$whiteBack:#fff;
$greyBack: #8E8E8E;
$goldBack: #F4C430;

// color text

$whiteText:#fff;
$greyText: #8E8E8E;
$goldText: #F4C430;
$blackText: #000000;

// color border

$purpBord: #9C23FC;

// hover color

$hoverColor: #FFE49280;

// radius

$cardRadius: 20px;

$buttonRadius: 15px;

// fonts

$mainFont: "regMonserat";
$secondaryFont: "mediumMonserat";
$boldFont: "boldMonserat";
$interFont: "inter";
$askanaFont: "askana";

