@mixin t-title{
    font-size: 1rem;
    font-family: $titleFont;
    color: $textDark;
    &-accent{
        color: $textAccent;
        font-family: $titleAccent;
    }
}

@mixin table-design{
    background-color: $headerColor;
    border-bottom: $borderColor;
    &-id{
        border-bottom: $borderColor;
        
    }
    &-prob{
        border-bottom: $borderColor;
        
    }
    &-group{
        border-bottom: $borderColor;
    }
}
@mixin t-table-header{
    font-size: 1rem;
    font-family: $titleFont;
    color: $textDark;
}
@mixin t-table-body{
    font-size: 1rem;
    font-family: $mainFont;
    color: $textDark;
}