@mixin t-title{
    font-size: 1rem;
    font-family: $titleFont;
    color: $textDark;
    &-accent{
        color: $textAccent;
        font-family: $titleAccent;
    }
}

@mixin table-design{
    background-color: $textAccent;
    
    &-id{
        border-bottom: 1px solid $textAccent;
        
    }
    &-prob{
        border-bottom: 1px solid $textAccent;
        
    }
    &-group{
        border-bottom: 1px solid $textAccent;
    }
}
@mixin t-table-header{
    font-size: 1rem;
    font-family: $titleFont;
    color: $textDark;
}
@mixin t-table-body{
    font-size: 1rem;
    font-family: $titleFont;
    color: $textAccent;
}
@mixin button{
    width: 5rem;
    height: 1.5rem;
    border-radius: 5px;
    background-color: $textAccent;
    color: $textDark;
    border: none;
    font-size: 0.9rem;
    font-family: $titleFont;
    
}
@mixin oninput-button{
    background-color: $textDark;
    color: $textAccent;
}