// color
    // text
$textDark: #403F3D;
$textLight: #E1D4C9;
$textAccent: #ffd700;
    // border
$borderColor: 1px solid #f0f0f0;
    //background
$headerColor: #fafafa;



// fonts
$mainFont: ligthMonserat, sans-serif;
$mainFontAccent: lightItalic, sans-serif;
$titleFont: boldMonserat, sans-serif;
$titleAccent: boldItalic, sans-serif;


// screens
$phone: 'min-width: 381px';
$tablet: 'min-width: 768px';
$dekstop: 'min-width: 1440px'